[submodule "components/tinyusb"]
	path = components/tinyusb
	url = https://github.com/darthcloud/tinyusb_s31.git
[submodule "components/esp_tinyusb"]
	path = components/esp_tinyusb
	url = git@github.com:darthcloud/esp_tinyusb_s31.git
[submodule "components/esp_encrypted_img"]
	path = components/esp_encrypted_img
	url = https://github.com/darthcloud/esp_encrypted_img.git
