#
# Bootloader config
#

#
# Application Rollback
#
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
# end of Application Rollback
# end of Bootloader config

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
# end of Serial flasher config

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0x10000
# end of Partition Table

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# end of Compiler options

#
# Component config
#

#
# ESP-STDIO
#
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600
# end of ESP-STDIO

#
# SPIFFS Configuration
#
CONFIG_SPIFFS_MAX_PARTITIONS=1
# end of SPIFFS Configuration
# end of Component config
