menu "BlueRetro"

    config BLUERETRO_BT_DISABLE
        bool "Disable Bluetooth init"
        help
            Select this to disable Bluetooth init.

    config BLUERETRO_BT_EXTERNAL_H4
        bool "Use external BT radio"
        help
            Select this to use an external BT radio thought H4 UART interface.

    config BLUERETRO_BT_H4_TRACE
        bool "Enable Bluetooth H4 tracing"
        help
            Select this to enable Bluetooth H4 tracing.

    config BLUERETRO_BT_MON_VERBOSE
        bool "Enable verbose loggin into BT monitor"
        help
            Seclect this to enable verbose loggin into BT monitor.

    config BLUERETRO_BT_SSP_DBG
        bool "Enable Bluetooth SSP debug mode"
        help
            Select this to enable Bluetooth SSP debug mode.

    config BLUERETRO_COVERAGE
        bool "Enable gcov coverage logging"
        help
            Seclect this to enable gcov coverage logging.

    config BLUERETRO_ETH_CMDS
        bool "Enable ethernet cmds"
        help
            Select this to enable websocket cmds.

    config BLUERETRO_HID_REPORT_DEBUG
        bool "Enable HID report debug"
        help
            Select this to enable Generic HID report debug.

    config BLUERETRO_HID_DESC_DUMP
        bool "Enable HID descriptor dump"
        help
            Select this to dump HID descriptor.

    config BLUERETRO_QEMU
        bool "Enable QEMU friendly config"
        help
            Select this to make an image for QEMU.

    choice BLUERETRO_SYSTEM_INTERFACE
        bool "System interface selection"
        default BLUERETRO_SYSTEM_NONE
        help
            Select system interface.

        config BLUERETRO_SYSTEM_NONE
            bool "No system interface configured"
            help
                Select this to configure no system interface.

        config BLUERETRO_SYSTEM_WAVEPAK_VX
            bool "Enable WavePak Vectrex interface"
            help
                Select this to support WavePak Vectrex interface.

        config BLUERETRO_SYSTEM_XBOX
            bool "Enable OG Xbox USB interface"
            help
                Select this to support OG Xbox USB interface.

    endchoice

endmenu
